$colors: (
    common: (
        white: #ffffff,
        black: #000,
    ),
    heading: (
        primary: #181e1e,
    ),
    grey: (
        1: #f7f7f7,
        2: #f0f3f4,
        3: #858e95,
    ),
    yellow: (
        1: #f5af70,
    ),
    text: (
        body: #4a4a4a,
        p: #858e95,
    ),
    theme: (
        1: #fe1e1c,
        2: #f08833,

    ),
    border: (
        1: #e7e7e7,
        2: #000,
    )
);
