$colors: (
    common: (
        white: #ffffff,
        black: #000,
    ),
    heading: (
        primary: #101010,
    ),
    grey: (
        1: #020c27,
    ),
    text: (
        body: #4a4a4a,
        p: #858e95,
    ),
    theme: (
        1: #ffc137,
        2: #0374f9,

    ),
    border: (
        1: #000717,
    )
);
