@use '../utils' as *;

/*----------------------------------------*/
/*  2.11 Breadcrumb
/*----------------------------------------*/

.ic-breadcrumb-area {
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  padding-left: 300px;
  @media #{$md,$sm} {
    padding-left: 10px;
  }
}
.ic-breadcrumb-item {
  & p {
    font-size: 20px;
    color: var(--ic-common-white);
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 25px;
  }
  & .ic-breadcrumb-title {
    color: var(--ic-common-white);
    font-size: 78px;
    font-weight: 700;
    line-height: 1.1;
    text-transform: uppercase;
    @media #{$lg} {
      font-size: 50px;
    }
    @media #{$md} {
      font-size: 45px;
    }
    @media #{$sm} {
      font-size: 35px;
    }
    & span {
      color: var(--ic-theme-2);
    }
  }
}

.ic-breadcrumb-nav-title {
  & ul {
    & li {
      display: inline-block;
      color: var(--ic-heading-primary);
      padding: 0 1px;
      font-size: 14px;
      font-weight: 500;
      &.active-home {
        color: var(--ic-theme-1);
      }
    }
  }
}

.ic-bread-title {
    font-size: 30px;
    font-weight: 700;
    text-transform: capitalize;
}