@use '../../utils' as *;

/*----------------------------------------*/
/*  5.1 blog css start
/*----------------------------------------*/
// postbox css start
.ic-blog-thumb {
  padding: 30px;
}
.ic-section-blog-title {
  & h2 {
    color: var(--ic-common-white);
    font-size: 52px;
    font-weight: var(--ic-fw-regular);
    @media #{$sm} {
      font-size: 25px;
    }
  }
}
.ic-blog-title {
  & h3 {
    color: var(--ic-common-white);
    font-size: 20px;
    font-weight: var(--ic-fw-sbold);
    line-height: 1.2;
    margin: 20px 0;
    text-transform: capitalize;
    transition: 0.3s;
    & a {
      transition: 0.5s;
    }
    &:hover {
      & a {
        color: var(--ic-theme-1);
      }
    }
  }
}
.ic-blog-btn {
  color: var(--ic-common-white);
  font-size: 16px;
  font-weight: var(--ic-fw-sbold);
  transition: 0.3s;
  & i {
    &.ic-icon {
      position: static !important;
      background: none !important;
      width: 0 !important;
      height: 0 !important;
      font-size: 14px !important;
      color: var(--ic-common-white) !important;
      margin-left: 5px !important;
      &:hover {
        color: var(--ic-theme-1) !important;
      }
    }
  }
  &:hover {
    color: var(--ic-theme-1) !important;
    & i{
      &.ic-icon{
        color: var(--ic-theme-1) !important;
      }
    }
  }
}
.blog-active.slick-initialized.slick-slider {
  position: relative;
}
.blog-active.slick-slider i {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background: var(--ic-common-white);
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: var(--ic-theme-1);
  font-size: 18px;
  border-radius: 30px;
  box-shadow: 0px 4px 24px 0px rgba(153, 171, 189, 0.25);
  cursor: pointer;
  z-index: 9;
}
.blog-active.slick-slider i.ic-right {
  left: auto;
  right: 0;
  cursor: pointer;
  z-index: 9;
}
