@use '../../utils' as *;
/*----------------------------------------*/
/*  7.4 cart css start
/*----------------------------------------*/

.cartmini__area {
    position: fixed;
    right: 0;
    top: 0;
    width: 320px;
    height: 100%;
    transform: translateX(calc(100% + 80px));
    background: var(--ic-common-white) none repeat scroll 0 0;
    transition: 0.45s ease-in-out, opacity 0.45s ease-in-out;
    z-index: 9999;
    scrollbar-width: none;
}
.cartmini__area.cartmini-opened {
    transform: translateX(0);
    // right: 0;
}

.cartmini__wrapper {
    position: relative;
    min-height: 100%;
    padding-left: 25px;
    padding-right: 25px;
}
.cartmini__top-title {
    padding: 20px 0;
    border-bottom: 1px solid var(--ic-border-1);
}
.cartmini__top-title h4 {
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 600;
    margin-bottom: 0;
}
.cartmini__close {
    position: absolute;
    top: 17px;
    right: 0;
}
.cartmini__close-btn {
    background: transparent;
    color: var(--ic-common-black);
    font-size: 22px;
}
.cartmini__shipping {
    padding: 15px 0;
    border-bottom: 1px solid var(--ic-border-1);
}
.cartmini__shipping p {
    margin-bottom: 5px;
    font-size: 13px;
    color: gray;
    font-weight: 500;
}
.cartmini__shipping p span {
    color: var(--ic-theme-1);
    font-weight: 600;
}
.cartmini__shipping .progress {
    height: 10px;
    border-radius: 0;
}
.cartmini__shipping .progress-bar {
    background-color: var(--ic-theme-1);
}
.cartmini__widget {
    height: calc(100vh - 380px);
    overflow-y: scroll;
    overscroll-behavior-y: contain;
    scrollbar-width: none;
}
.cartmini__widget-item:last-child {
    border-bottom: 0;
}
.cartmini__widget-item {
    position: relative;
    display: flex;
    padding: 20px 0;
    border-bottom: 1px solid rgba(129, 129, 129, 0.2);
}
.cartmini__thumb {
    border: 1px solid var(--ic-border-1);
    margin-right: 15px;
}
.cartmini__thumb img {
    width: 70px;
    height: auto;
}
.cartmini__content {
    padding-right: 15px;
}
.cartmini__title {
    font-size: 15px;
    margin-bottom: 4px;
    font-weight: 500;
}
.cartmini__price {
    font-size: 14px;
    font-weight: 500;
    color: var(--ic-theme-1);
}
.cartmini__quantity {
    font-size: 12px;
    font-weight: 500;
}
.cartmini__del {
    position: absolute;
    top: 15px;
    right: 0;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    color: var(--ic-common-black);
    font-size: 14px;
}
.cartmini__empty {
    margin-top: 150px;
}
.cartmini__empty img {
    margin-bottom: 30px;
}
.cartmini__empty p {
    font-size: 16px;
    color: var(--ic-common-black);
    margin-bottom: 15px;
}
.cartmini__empty .ic-btn {
    background-color: var(--ic-grey-1);
    font-size: 15px;
    text-transform: capitalize;
    color: var(--ic-common-black);
    padding: 10px 30px;
    text-align: center;
}
.cartmini__checkout {
    padding-top: 15px;
    padding-bottom: 85px;
    width: 100%;
    background: var(--ic-common-white);
    border-top: 2px solid var(--ic-border-1);
}
.cartmini__checkout-title h4 {
    font-size: 15px;
    display: inline-block;
    font-weight: 500;
    margin-bottom: 0;
    text-transform: capitalize;
}
.cartmini__checkout-title span {
    float: right;
    font-size: 15px;
    color: var(--ic-common-black);
    font-weight: 500;
}
.cartmini__checkout-btn .ic-btn {
    font-size: 15px;
    text-transform: capitalize;
    padding: 10px 30px;
    text-align: center;
        line-height: 30px;
}



