@use '../../utils' as *;

/*----------------------------------------*/
/*  7.8 cta css start
/*----------------------------------------*/
.ic-cta-space {
  padding-top: 230px;
  padding-bottom: 40px;
  padding-left: 50px;
  padding-right: 50px;
  position: relative;
}
.ic-cta {
  position: relative;
  & span {
    color: var(--ic-text-p);
    font-weight: 700;
    position: relative;
    z-index: 2;
  }
  & br {
    @media #{$md} {
      display: none;
    }
  }
}
.cta-title {
  font-size: 40px;
  color: var(--ic-common-white);
  position: relative;
  z-index: 2;
  @media #{$xxl,$xl,$md} {
    font-size: 35px;
  }
  @media #{$xs} {
    font-size: 25px;
  }
}

.cta-link {
  & a {
    border: 1px solid var(--ic-common-white);
    height: 60px;
    width: 60px;
    color: var(--ic-common-white);
    display: inline-block;
    border-radius: 30px;
    line-height: 60px;
  }
}

.counter-row {
  counter-reset: count;
}
.ic-cta .num__count {
  position: absolute;
  right: 0;
  left: 0;
  z-index: 1;
  top: 50%;
}
.ic-cta .num__count::before {
  text-align: center;
  color: var(--ic-heading-primary);
  font-size: 300px;
  line-height: 42px;
  font-weight: 700;
  counter-increment: count;
  content: '0' counter(count);
  transition: all 500s ease;
  display: inline-block;
  @media #{$xs} {
    font-size: 150px;
  }
}
