@use '../../utils' as *;

.flash-sale-area {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  padding-top: 50px;
  padding-bottom: 60px;
}

.flash-sale-time {
  display: inline-block;
  border: 5px solid var(--ic-common-white);
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 5px;
}
.flash-sale-number {
  & ul {
    & li {
      display: inline-block;
      padding: 17px 20px;
      color: var(--ic-theme-1);
      font-size: 25px;
      font-weight: 600;
      background: var(--ic-common-white);
      border-radius: 5px;
      margin: 0 5px;
      @media #{$sm} {
        font-size: 15px;
        padding: 10px 13px;
      }
    }
  }
}
.flash-sale-text {
  & ul {
    & li {
      color: var(--ic-common-white);
      font-size: 18px;
      font-weight: 500;
      display: inline-block;
      padding: 0 15px;
      margin-top: 20px;
      @media #{$sm} {
        font-size: 15px;
        padding: 0 6px;
      }
    }
  }
}
