@use '../../utils' as *;

.ic-product-item {
  position: relative;
  box-shadow: 0px 15px 40px -10px rgba(168, 183, 255, 0.67);
  border-radius: 5px;
  transition: 0.3s;
  &:hover {
    box-shadow: 0px 0px 10px 0px #c3cdff;
  }
}
.ic-product-thumb {
  &:hover {
    & .second-img {
      opacity: 1;
      visibility: visible;
      left: 0;
    }
  }
  padding: 20px;
  & img {
    width: 85%;
    &.second-img {
      position: absolute;
      opacity: 0;
      visibility: hidden;
      top: 0;
      bottom: 5px;
      margin: auto;
      left: 15%;
      transition: 0.5s;
    }
  }
}

.ic-product-descunt {
  & span {
    color: var(--ic-common-white);
    background: var(--ic-theme-2);
    padding: 4px 15px;
    border-radius: 30px;
    &.save-outline {
      color: var(--ic-theme-2);
      background: none;
      padding: 4px 15px;
      border-radius: 30px;
      border: 1px solid var(--ic-theme-2);
      margin-left: 10px;
    }
  }
}
.ic-product-wishlist {
  & i {
    font-size: 20px;
    color: var(--ic-theme-1);
    font-weight: 300;
  }
}
.ic-product-variable {
  & ul {
    & li {
      list-style: none;
      display: inline-block;
      padding-left: 40px;
      text-align: center;
      &.blue:before {
        content: '';
        width: 20px;
        height: 20px;
        position: absolute;
        background: blue;
        border-radius: 30px;
        margin: 0 20px;
        cursor: pointer;
      }
      &.yellow:before {
        content: '';
        width: 20px;
        height: 20px;
        position: absolute;
        background: yellow;
        border-radius: 30px;
        margin: 0 20px;
        cursor: pointer;
      }
      &.red:before {
        content: '';
        width: 20px;
        height: 20px;
        position: absolute;
        background: red;
        border-radius: 30px;
        margin: 0 20px;
        cursor: pointer;
      }
      &.black:before {
        content: '';
        width: 20px;
        height: 20px;
        position: absolute;
        background: black;
        border-radius: 30px;
        margin: 0 20px;
        cursor: pointer;
      }
    }
  }
}

.ic-product-price {
  & span {
    color: var(--ic-heading-primary);
    font-size: 18px;
    font-weight: 600;
  }
}
