@use '../../utils' as *;

/*----------------------------------------*/
/*  7.14 project css start
/*----------------------------------------*/
.project-item img {
    width: 100%;
}
.slide-space-60{
	.slick-slide > div {
		padding: 0 20px;

	}
}
.project-item{
	position: relative;
	& a{
		position: absolute;
		top: 50px;
		left: 50px;
		background: var(--ic-common-white);
		width: 50px;
		height: 50px;
		text-align: center;
		line-height: 50px;
		opacity: 0;
		visibility: hidden;
	}
}
.slick-center{
	.project-item {
		& a{
			opacity: 1;
			visibility: visible;
		}
	}
}