@use '../../utils' as *;

/*----------------------------------------*/
/*  7.16 shop css start
/*----------------------------------------*/
h3.ic-shop-count-title {
  background: var(--ic-grey-2);
  padding: 20px;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  margin-bottom: 50px;
}

.ic-filter-cournt {
  margin-bottom: 50px;
  & strong {
    font-size: 15px;
    font-weight: 500;
    color: var(--ic-theme-1);
    text-transform: capitalize;
    cursor: pointer;
    @media #{$lg,$md} {
      font-size: 14px;
    }
    @media #{$sm} {
      width: 200px;
    }
  }
  & .ic-item {
    & span {
      padding: 15px;
      border-radius: 10px;
      color: var(--ic-grey-3);
      font-weight: 400;
      text-transform: capitalize;
      cursor: pointer;
      border: 2px solid var(--ic-border-1);
      margin-bottom: 10px;
      margin-left: 5px;
      overflow: hidden;
      clear: both;
      display: inline-block;
      @media #{$lg,$md,$sm} {
        padding: 6px;
        font-size: 14px;
      }
      & i {
        color: var(--ic-theme-1);
        margin-left: 5px;
        font-size: 18px;
      }
    }
  }
}

.ic-shop-product-pagi ul li {
  display: inline-block;
  transition: 0.3s;
}
.ic-shop-product-pagi ul li a {
  padding: 8px 18px;
  background: var(--ic-border-1);
  border-radius: 5px;
  margin: 0 3px;
  font-size: 20px;
  font-weight: 500;
  transition: 0.3s;
  @media #{$sm} {
    padding: 5px 12px;
  }
}
.ic-shop-product-pagi ul li:hover a {
  color: var(--ic-common-white);
  background: var(--ic-theme-1);
}
.ic-shop-product-pagi ul li a.ic-current {
  background-color: var(--ic-theme-1) !important;
  color: var(--ic-common-white);
}

// shop collection

.custom-ml {
  @media #{$lg} {
    margin-left: 20px;
  }
  @media #{$md} {
    margin-left: 20px;
    padding-top: 50px;
    padding-bottom: 30px;
  }
  @media #{$sm} {
    margin-left: 20px;
    padding-top: 50px;
    padding-bottom: 30px;
  }
}
.ic-shop-collection-titel {
  color: var(--ic-common-black);
  font-size: 52px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 1.04px;
  text-transform: capitalize;
  @media #{$lg} {
    font-size: 50px;
  }
  @media #{$md} {
    font-size: 45px;
  }
  @media #{$sm} {
    font-size: 30px;
  }
}
.ic-shop-p {
  color: var(--ic-text-p);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  padding-right: 260px;
  @media #{$xl} {
    padding-right: 160px;
  }
  @media #{$md} {
    padding-right: 80px;
  }
  @media #{$sm} {
    padding-right: 30px;
  }
}
.ic-btn-shop {
  color: var(--ic-theme-1);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  text-decoration-line: underline;
  text-transform: capitalize;
}
.ic-btn-shop-collection {
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
  color: var(--ic-common-white);
  background: var(--ic-theme-1);
  height: 50px;
  line-height: 52px;
  text-align: center;
  padding-left: 20px;
  padding-right: 5px;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
  overflow: hidden;
  border-radius: 30px;
  margin-left: 30px;
  transition: 0.3s;
  @media #{$lg} {
    height: 35px;
    line-height: 34px;
    margin-left: 2px;
    padding-left: 5px;
    font-size: 12px;
    margin-bottom: 9px;
  }
  @media #{$md} {
    height: 40px;
    line-height: 40px;
    margin-left: 2px;
    padding-left: 10px;
    font-size: 12px;
    margin-bottom: 9px;
  }
  &:hover {
    color: var(--ic-common-white);
    background: var(--ic-theme-2);
  }
}
.ic-btn-shop-collection i {
  background: var(--ic-common-white);
  padding: 10px 10px;
  color: var(--ic-theme-1);
  border-radius: 30px;
  margin-left: 10px;
  line-height: 1;
  display: inline-block;
  text-align: center;
  @media #{$lg} {
    padding: 5px 5px;
    border-radius: 30px;
    margin-left: 2px;
  }
}

.shop-collection-2 .ic-btn-shop-title {
  font-size: 15px;
  font-weight: 600;
  color: var(--ic-heading-primary);
  letter-spacing: 1.1px;
  line-height: 1.5;
  padding: 20px 15px 15px;
  display: inline-block;
  transition: 0.3s;
  @media #{$lg} {
    padding-right: 0px;
    padding-left: 5px;
    padding-bottom: 10px;
  }
  &:hover {
    color: var(--ic-theme-1);
  }
}
.shop-collection-2 {
  padding-top: 210px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.shop-collection-1 {
  padding-top: 197px;
  text-align: center;
  padding-bottom: 197px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 24px;
  @media #{$lg} {
    padding-top: 190px;
    padding-bottom: 194px;
  }
}


.ic-shop-widget-filter {
    position: relative;
}
.ic-shop-widget-filter .ui-widget.ui-widget-content {
    height: 3px;
    background-color: #EDEDED;
    border: 0;
}
.ic-shop-widget-filter .ui-slider-horizontal .ui-slider-range {
    background-color: var(--ic-theme-1);
    position: absolute;
}
.ic-shop-widget-filter .ui-slider .ui-slider-handle {
    top: -7px;
    width: 5px;
    height: 17px;
    border: 0;
    padding: 0;
    margin: 0;
    border-radius: 0;
    background-color: var(--ic-theme-1);
    position: absolute;
}
.ic-shop-widget-filter-info .input-range input {
    width: auto;
    height: auto;
    background-color: transparent;
    color: var(--ic-common-black);
    padding: 0;
    border: 0;
    font-weight: 500;
    font-size: 14px;
}
.ic-shop-widget-filter-info .ic-shop-widget-filter-btn {
    font-weight: 400;
    font-size: 14px;
    color: var(--ic-common-black);
    background-color: #F5F5F5;
    padding: 2px 21px;
}
