@use '../../utils' as *;

.ic-single-tabs {
  & button {
    &.nav-link {
      box-shadow: 0px 15px 40px -10px rgba(168, 183, 255, 0.67);
      background: var(--ic-common-white);
      margin-bottom: 10px;
      &.active,
      .nav-pills .show > .nav-link {
        color: transparent;
        background-color: transparent;
        box-shadow: 0px 0px 10px 0px #c3cdff;
        padding: 0;
      }
    }
    & img {
      width: 130px;
      max-width: 100%;
    }
  }
}
.ic-single-product-img-tab {
  box-shadow: 0px 15px 40px -10px rgba(168, 183, 255, 0.67);
  background: var(--ic-common-white);
}

//  product content
.ic-product-title {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 0;
  @media #{$md} {
    font-size: 25px;
  }
  @media #{$sm} {
    font-size: 20px;
  }
}
.ic-border {
  border-bottom: 2px solid var(--ic-border-1);
  padding-bottom: 20px;
}
.ic-single-ratting {
  & ul {
    & li {
      display: inline-block;
      color: var(--ic-theme-2);
      margin-left: 0 !important;
      & i {
        margin: 0px !important;
        padding: 0 !important;
      }
      & span {
        color: var(--ic-theme-1);
        text-decoration: underline;
      }
    }
  }
}

.ic-single-title {
  font-size: 18px;
  font-weight: 500;
  text-transform: capitalize;
  color: var(--ic-heading-primary);
}
.ic-single-price {
  & span {
    margin-right: 8px;
    font-size: 16px;
    color: var(--ic-heading-primary);
    font-weight: 500;
    & del {
      font-size: 16px;
      font-weight: 500;
      margin-left: 5px;
      color: var(--ic-text-p);
    }
  }
}

.ic-single-product-item .filter .nice-select {
  width: 250px !important;
}
.ic-single-product-item .filter .nice-select .list {
  width: 100%;
}

.ic-quantity {
  & input[type='number'] {
    border: 2px solid var(--ic-border-1);
    padding: 5px 10px;
    border-radius: 5px;
  }
  & label {
    font-size: 15px;
    color: var(--ic-heading-primary);
  }
}

.ic-single-social-share {
  & ul {
    & li {
      display: inline-block;
      & a {
        & i {
          padding: 4px 8px;
          color: var(--ic-common-black);
          transition: 0.3s;
        }
      }
      &:hover {
        & a {
          & i {
            color: var(--ic-theme-1);
          }
        }
      }
    }
  }
}

.ic-product-cat {
  @media #{$sm} {
    display: inline-block !important;
  }
}

.ic-single-qt .cart-plus {
  top: 50% !important;
  left: 14px !important;
  transform: translateY(-93%) !important;
}
.ic-single-qt .cart-minus {
  top: 50% !important;
  left: 16px !important;
  transform: translateY(-93%) !important;
}
.ic-single-qt .cart-plus {
  left: auto !important;
  right: 16px;
}
.ic-single-qt .ic-cart-input[type='text'] {
  height: 45px;
  width: 170px;
}

.ic-single-qt {
  width: 170px !important;
}
.ic-single-qt label {
  font-size: 14px;
}

//
.ic-product-details-variation-list {
  & button {
    display: inline-block;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    position: relative;
    transition: box-shadow 0.2s 0s linear;
    & span[data-bg-color] {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 100%;
      background-color: var(--ic-common-white);
      border-radius: 50%;
      transition: all 0.2s 0s linear;
      transform: translate(-50%, -50%);
    }
    & .ic-color-variation-tootltip {
      position: absolute;
      bottom: 100%;
      left: 50%;
      transform: translateX(-50%) translateY(2px);
      width: max-content;
      background-color: var(--ic-common-black);
      color: var(--ic-common-white);
      text-align: center;
      font-size: 12px;
      font-weight: 500;
      line-height: 1;
      padding: 4px 6px;
      border-radius: 4px;
      visibility: hidden;
      opacity: 0;
      transition: opacity 0.3s ease, visibility 0.3s ease,
        transform 0.3s cubic-bezier(0.71, 1.7, 0.77, 1.24);
    }
  }
}

.ic-product-details-variation-list button:hover span[data-bg-color],
.ic-product-details-variation-list button.active span[data-bg-color] {
  -webkit-transform: translate(-50%, -50%) scale(0.7);
  -moz-transform: translate(-50%, -50%) scale(0.7);
  -ms-transform: translate(-50%, -50%) scale(0.7);
  -o-transform: translate(-50%, -50%) scale(0.7);
  transform: translate(-50%, -50%) scale(0.7);
}
.ic-product-details-variation-list button:hover,
.ic-product-details-variation-list button.active {
  box-shadow: 0px 1px 2px rgba(1, 15, 28, 0.2);
}
.ic-product-details-variation-list button .ic-color-variation-tootltip::before {
  position: absolute;
  content: '';
  bottom: -6px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-top: 6px solid var(--ic-common-black);
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
}

// product details
.ic-custom-tabs {
  border-bottom: 2px solid var(--ic-border-1);
  & li {
    & button {
      padding-left: 0;
      padding-bottom: 30px;
      padding-right: 20px;
      margin-right: 20px;
      color: var(--ic-heading-primary);
      font-weight: 600;
      &.active,
      :hover {
        border-bottom: 2px solid var(--ic-theme-1);
      }
    }
  }
}

.ic-single-details-title {
  color: var(--ic-heading-primary);
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 700;
  @media #{$sm} {
    font-size: 30px;
  }
}
.ic-single-product-item {
  & ul {
    & li {
      list-style: none;
      padding: 7px 0;
      font-size: 16px;
      margin-left: 20px;
      color: var(--ic-text-body);
      font-weight: 500;
      & i {
        color: var(--ic-theme-2);
        font-size: 22px;
        margin-right: 10px;
      }
    }
  }
}
.ic-single-product-banner {
  padding-top: 180px;
  padding-bottom: 180px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

// review
.ic-single-pro-ratting-title {
  h2 {
    font-size: 35px;
    font-weight: 600;
    padding-bottom: 30px;
    padding-top: 15px;
    background: var(--ic-common-white);
    line-height: 1.3;
    @media #{$md} {
      font-size: 30px;
    }
    @media #{$sm} {
      font-size: 25px;
    }
  }
}
.ic-single-average-rating {
  & h5 {
    font-size: 19px;
    font-weight: 500;
    color: var(--ic-heading-primary);
  }
  & h1 {
    color: var(--ic-theme-2);
    font-size: 60px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 10px 0;
  }
  & > a {
    color: var(--ic-theme-1);
    padding-top: 6px;
    display: block;
    text-decoration: underline;
  }
}

.ic-star-text {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 9px 0;
  & h4 {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 0;
    text-transform: capitalize;
  }
  & h5 {
    font-size: 16px;
    font-weight: 500;
    color: var(--ic-text-p);
    margin-bottom: 0;
    text-transform: capitalize;
  }
  & .progress {
    width: 50%;
    height: 0.4rem;
    & .progress-bar {
      background-color: var(--ic-theme-2);
    }
  }
}

.ic-single-rating {
  & a {
    border: 2px solid var(--ic-theme-1);
    border-radius: 5px;
    padding: 15px 25px;
    color: var(--ic-theme-1);
    transition: 0.3s;
    & i {
      margin-right: 10px;
    }
    &:hover {
      border-color: var(--ic-theme-2);
      color: var(--ic-theme-2);
    }
  }
}
.ic-single-product-review-item {
  box-shadow: 0px 15px 40px -10px rgba(168, 183, 255, 0.67);
  border-radius: 5px;
  padding: 10px 15px 25px 15px;
  &:hover {
    box-shadow: 0px 0px 10px 0px #c3cdff;
  }
  & img {
    width: 100%;
  }
  & > p {
    color: var(--ic-text-p);
    font-size: 17px;
    margin-top: 12px;
    margin-bottom: 20px;
  }
}
.ic-single-review-name {
  & span {
    font-size: 17px;
    color: var(--ic-theme-1);
    & i {
      margin-right: 10px;
    }
  }
}
.ic-single-date {
  & p {
    font-size: 14px;
    color: var(--ic-text-p);
    margin-bottom: 0;
  }
}
.ic-single-btn-like {
  & a {
    font-size: 16px;
    color: var(--ic-text-p);
    & i {
      margin-right: 5px;
      color: var(--ic-common-black);
    }
  }
}

section.ic-single-product-banner-area {
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 50px;
  padding-bottom: 170px;
}
.ic-single-banner-title {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--ic-heading-primary);
  @media #{$sm} {
    font-size: 25px;
  }
  & p {
    font-size: 20px;
    font-weight: 500;
    color: var(--ic-text-p);
    padding-bottom: 10px;
    padding-top: 10px;
  }
}
.ic-single-banner-subtitle {
  font-size: 25px;
  font-weight: 500;
  color: var(--ic-heading-primary);
  line-height: 1.5;
  margin-right: 270px;
  @media #{$sm} {
    margin-right: 20px;
  }
}
.related {
  text-transform: uppercase;
  font-weight: 600;
}
