@use '../../utils' as *;

/*----------------------------------------*/
/*  7.17 slider css start
/*----------------------------------------*/
.ic-slider-height {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 253px 0;
  @media #{$sm} {
    padding: 120px 0;
  }
}
.slider-title {
  color: var(--ic-common-white);
  font-size: 78px;
  font-weight: 700;
  line-height: 1.1;
  @media #{$md} {
    font-size: 45px;
  }
  @media #{$sm} {
    font-size: 35px;
  }
  & span {
    color: var(--ic-theme-2);
  }
}
.slider-content {
  & p {
    font-size: 20px;
    color: var(--ic-common-white);
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 25px;
  }
}

//slider css
.slider-active ul.slick-dots {
  position: absolute;
  bottom: 40px;
  left: 14%;
}
.slider-active ul.slick-dots li {
  display: inline-block;
  margin: 0 20px;
  z-index: 999;
  position: relative;
}
.slider-active .slick-dots button {
  width: 20px;
  height: 20px;
  background: var(--ic-common-white);
  border-radius: 30px;
  display: inline-block;
  color: var(--ic-common-white);
  position: absolute;
  bottom: px;
  z-index: 999;
  left: 50%;
}
.slider-active li.slick-active button {
  color: var(--ic-theme-1);
  background: var(--ic-theme-1);
}

.slick-active .slider-title {
  animation-delay: 0.3s;
  animation-duration: 0.3s;
}
// .slick-active span{
// 	animation-delay: 0.5s;
// 	animation-duration: 0.5s;
// }
.slick-active .slider-content p {
  animation-delay: 0.7s;
  animation-duration: 0.7s;
}
.slick-active .ic-btn {
  animation-delay: 0.9s;
  animation-duration: 0.9s;
}
.slick-active .slider-title,
.slick-active .slider-content p,
.slick-active .ic-btn {
  animation-name: fadeInUp;
  animation-fill-mode: both;
}
