@use '../../utils' as *;

/*----------------------------------------*/
/*  7.20 testimonial css start
/*----------------------------------------*/
.ic-testi-title {
  @media #{$sm} {
    font-size: 18px;
  }
}
.ic-testimonial-rating {
  & h6 {
    color: var(--ic-common-black);
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    @media #{$sm} {
      font-size: 14px;
    }
    & span {
      width: 5px;
      height: 5px;
      background: var(--ic-theme-1);
      padding: 0 5px;
      border-radius: 30px;
      color: var(--ic-common-white);
      font-size: 16px;
      margin-right: 10px;
    }
    &.ic-ratting {
      color: var(--ic-theme-1);
      & a {
        border-bottom: 1px solid var(--ic-theme-1);
        text-transform: lowercase;
      }
    }
  }
  & ul {
    & li {
      display: inline-block;
      color: var(--ic-theme-2);
      padding: 1px 1px;
    }
  }
}

.ic-testimonial-content {
  box-shadow: 0px 15px 40px -10px rgba(168, 183, 255, 0.67);
  padding: 20px 30px;
  border-radius: 5px;
  transition: 0.3s;
  &:hover {
    box-shadow: 0px 0px 10px 0px #c3cdff;
  }
  margin: 15px;
  h5 {
    font-size: 20px;
    font-weight: 600;
    color: var(--ic-common-black);
    margin-top: 14px;
  }
  & ul {
    & li {
      display: inline-block;
      color: var(--ic-theme-2);
      margin-bottom: 10px;
    }
  }
  & p {
    color: var(--ic-text-p);
    font-weight: 500;
    font-size: 17px;
    line-height: 30px;
  }
  & img {
    display: inline-block;
  }
}

.testimonial-active.slick-slider {
  position: relative;
}
.testimonial-active.slick-slider .slick-arrow i {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background: var(--ic-common-white);
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: var(--ic-theme-1);
  font-size: 18px;
  border-radius: 30px;
  box-shadow: 0px 4px 24px 0px rgba(153, 171, 189, 0.25);
  cursor: pointer;
  z-index: 9;
}
.testimonial-active.slick-slider .slick-arrow i.fa-arrow-right {
  left: auto;
  right: 0;
  cursor: pointer;
  z-index: 9;
}

.testimonial-active ul.slick-dots {
  text-align: center;
  margin-top: 60px;
}
.testimonial-active ul.slick-dots li {
  display: inline-block;
  width: 15px;
  height: 15px;
  background: var(--ic-grey-2);
  margin: 0 10px;
  border-radius: 30px;
  color: var(--ic-grey-2);
  text-align: center;
  line-height: 20px;
  font-size: 5px;
}
.testimonial-active ul.slick-dots li.slick-active {
  background: var(--ic-theme-1);
  color: var(--ic-theme-1);
  width: 18px;
  height: 18px;
}
